:root {
  --bg: #fbeaff;
  --card: #ffffff;
  --text: #222;
}

body {
  background: var(--bg);
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--card);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

pre {
  background: var(--card);
  padding: 10px;
  min-height: 150px;
  overflow: auto;
}

/* THEMES */
body.theme-galaxy {
  --bg: #1b102a;
  --card: #2d1b4d;
  --text: #fff;
}
